.spacer {
    flex-grow: 1;
}
.hidden {
    display: none;
}
.text-center {
    text-align: center;
}
.flex-container {
  display: flex;

  .qtr-fold {
    width: 30%;
  }

  .half-fold {
    width: 50%;
  }
}
.small-font {
  font-size: 12px;
}